@font-face {
  font-family: arial;
  src: url(../fonts/arial.ttf);
}
@font-face {
  font-family: arialbd;
  src: url(../fonts/arialbd.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 60px;
  background-color: #471f00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: lato;
  padding: 0 30px;
}
nav a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  margin-left: 31px;
}
nav .logo {
  font-size: 24px;
  color: #fff;
  border-bottom: 2px solid #fff;
  width: 160px;
}

.wrapper {
  height: 1020px;
  background-color: #707070;
}
.wrapper .splash {
  position: relative;
  height: 100%;
  width: 100%;
  top: 38px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(../images/sidekix-media-WgkA3CSFrjc-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .splash .copyright {
  height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}
.wrapper .splash .copyright p {
  font-family: arial;
  font-size: 16px;
  width: 220px;
  height: 20px;
  color: #fff;
}
.wrapper .splash .callout {
  width: 373px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 141px;
  padding-top: 292px;
}
.wrapper .splash .callout h1 {
  font-size: 32px;
  font-family: arialbd;
  margin-bottom: 26px;
}
.wrapper .splash .callout p {
  font-size: 16px;
  font-family: arial;
  margin-bottom: 43px;
}
.wrapper .splash .callout .button {
  width: 177px;
  height: 51px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 64px;
}
.wrapper .splash .callout .button a {
  text-decoration: none;
  font-size: 16px;
  font-family: arial;
  color: #fff;
}

.wrapper .container {
  display: flex;
}
.wrapper .container .left-box {
  height: px;
  width: 50%;
  position: relative;
  top: 38px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url("../images/spacejoy-LhOJl195TWc-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper .container aside {
  height: 1020px;
  width: 50%;
  background-color: #fff;
  padding-top: 41px;
  padding: 41px 71px 0 71px;
  display: flex;
  flex-direction: column;
}
.wrapper .container aside h1 {
  font-family: arialbd;
  font-size: 32px;
}
.wrapper .container aside p {
  font-family: arial;
  font-size: 16px;
}
